/* App.css */

.App {
  font-family: sans-serif;
  text-align: center;
}

.filter-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.filter-bar select,
.filter-bar input,
.filter-bar button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filter-bar button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e0e0e0;
  font-weight: bold;
}

/* tr:nth-child(even) {
  background-color: #f9f9f9;
} */

tr:hover {
  background-color: #f5f5f5;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.results-container {
  max-height: 500px;
  overflow-y: auto;
}
